/* OGÓLNE */
body{
 font-family: 'Mulish', sans-serif;
}
ul{
  margin: auto;
}
p{
  margin: 0;
  padding: 0;
}
td, th{
  align-content: center;
}
.row{
  margin: 0px;
  height: auto;
}
.border{
  border: 3px solid rgb(0, 133, 9)!important;
  border-radius: 7px!important;
}
.button{
  background-color: rgb(0, 133, 9);
  color:rgb(255, 255, 255);
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  width: 100%;
  padding: 15px;
}
.button2{
  width: auto;
}
.button3{
  width: auto;
  font-size: 14px;
  font-weight: 500;
  padding: 7px;
}
.button:hover{
  background-color: rgb(0, 165, 11);
}
.ctb{
  display: flex;
  align-items: center;
}
.clr{
  display: flex;
  justify-content: center;
}
.gradient{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.70) 40%, rgba(0,0,0,0));
}
.ml-10{
margin-left: 10px;
}

/* FORM */
select{
  flex: 1;
  border-color: #dee2e6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

/* STRONA GŁÓWNA */
.topbar{
  background-color: rgb(54 105 36);
  height: 100px;
  box-shadow: 0px 5px 10px;
}
.topbar img{
  width: 80px;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
}
.first-page-content{
  height: calc(100vh - 100px);
}
.login{
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 5px 5px 10px;
}
.login-content{
  background-color: #fff;
  height: 350px;
  margin-right: 20px;
  margin-left: 20px;
}
.topbar p{
  font-size: 36px;
  margin-left: 20px;
  color: #fff;
  font-weight: 600;
}
.nav-link{
  color: rgb(0, 133, 9);
  --bs-nav-link-hover-color: rgb(0, 43, 3);
}
.nav-tabs .nav-link{ 
  border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
  border-top-left-radius: var(--bs-nav-tabs-border-radius2);
  border-top-right-radius: var(--bs-nav-tabs-border-radius2);
}
.my-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(3px);
  z-index: -1;
}

/* PASEK NAWIGACYJNY */
.navbar-menu button{
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}
.navbar-menu{
  margin-right: 20px;
}
#content{
  margin-top: 50px;
}
.order-repair-form{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.my-data-form{
  display: flex;
  justify-content: center;
}
.button-group{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* MODAL */
#modal .button-group{
  padding-top: 15px;
  border-top: 1px solid #dee2e6;
}
#modal form{
  padding-top: 20px;
  border-top: 1px solid #dee2e6;
}
.button-close-group {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.button-close-group button{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CLIENT */
.repair-dates{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.repair-date-to-choose{
  background-color: lightgray;
  padding: 20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  border: 3px solid transparent;
  transition: .2s;
}

.date-checked{
  border: 3px solid rgb(0, 133, 9);
}

.order-repair-inputs{
  display: flex;
  justify-content: space-evenly;
}

.my-data-inputs{
  display: flex;
  justify-content: center;
}

.order-history{
  padding: 0px 50px;
}

/* WORKER */
.status{
  height: 30px;
  width: 30px;
  border-radius: 5px;
}


